@use '../helpers'as *;
@use '../basics'as *;
@use '../layout'as *;

.cart-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .summary-wrapper {
        width: 15%; 
        @extend %shaddow;
    }
    .phone-items-wrapper {
        width: 100%;
        display: none;

        
        .phone-single-item {
            background: #d5b895b6;
            background: linear-gradient(45deg, #d5b8958a -5%, #cfc49e8c 55%, #e8dcb58c 102%);
            margin: 10px 0;

            .phone-cart-price {
                h2 {
                    text-align: end;
                    margin-right: 5px;
                }
                hr {
                    border: 1px solid $coffe;
                }
                span {
                    @include mainFlex(flex-end);
                    margin-right: 5px;
                }
            }
            .phone-cart-details {
                @include mainFlex(space-between);
                align-items: flex-start;

                .img-name-cell-link {
                    @include mainFlex(flex-start);
                    width: 80%;
                    text-decoration: none;
                    color: $coffe;
                    align-items: flex-start;
                    img {
                        width: 10rem;
                        aspect-ratio: 1 / 1;
                        padding: 0 10px;
                    }
                }

                h5 {
                    margin-right: 5px;
                }
            }
            .phone-cart-qty {
                padding: 20px 0 0 10px;
                i {
                    margin: 0 5px;
                }
            }
            .phone-cart-delete{
                @include mainFlex(flex-end);
                
                p {
                    margin: 0 5px 0 0;
                    background-color: $tan;
                    border-radius: 5px;
                    padding: 5px;
                    opacity: .9;
                }
            }
        }
    }
    
}
.cart-items-wrapper {
    width: 60%;
    background: #d5b895b6;
    background: linear-gradient(45deg, #d5b8958a -5%, #cfc49e8c 55%, #e8dcb58c 102%);
    border-collapse: collapse;

    thead{
        border-bottom: 2px solid $coffe;

        th {
            @include text(1.8rem, 600, italic, $coffe);
            text-align: center;
            border-bottom: 2px solid $coffe;
            padding: 10px 0;
        }
        th:first-of-type {
            padding-left: 50px;
            text-align: start;
        }
    }
    tbody {
        td {
            font-size: 1.7rem;
            border-bottom: 1px solid $coffe;
            text-align: center;

            .img-name-cell-link{
            
                @include mainFlex(flex-start);
                text-decoration: none;
                color: $coffe;
                img{
                    width: 150px;
                    aspect-ratio: 1 / 1;
                    padding: 10px;
                }
            }
            .remove-x {
                background-color: $tan;
                border-radius: 5px;
                padding: 5px;
                opacity: .9;

                &:hover {
                    cursor: pointer;
                }
            }
            .fas {
                font-size: 1rem;
                margin: 0 5px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
        .big-td {
            text-align: start;
            padding-left: 15px;
        }
    }
}

.cart-btn {
    margin: 50px auto 0 auto;
    width: fit-content;
    padding: 0 10px;
    background: linear-gradient(90deg, $camel -50%, $tan 50%, $dutchWhite 130%);
}

@include media("<=desktop") {
    .cart-wrapper .summary-wrapper {
        width: 20%; 
    }
    .cart-items-wrapper {
        width: 75%;
        thead th {
            font-size: 1.5rem;
        }
        tbody td {
            font-size: 1.3rem;
        }
    }
}
 
@include media("<=tablet") {
    .cart-wrapper {
        flex-direction: column;
    
        .summary-wrapper {
            margin: 20px auto 0 auto;
            width: 90%; 
        }
    }
    .cart-items-wrapper {
        width: 95%;
        margin: 0 auto;
        thead th {
            font-size: 1.3rem;
        }
        tbody {
            td {
                font-size: 1.1rem;

                .img-name-cell-link img{
                    width: 100px;
                }
            }
        }
          
    }
}

@include media("<=LGphone") {
    .cart-wrapper {
        
        .phone-items-wrapper {
            display: block;
        }
        .cart-items-wrapper {
            display: none;
        }
    }
    
}

@include media("<=phone") {
    .img-name-cell-link  {
        flex-direction: column;
        h2 {
            margin: 0 10px;
        }
        
    }
    
}