@use '../helpers'as *;
@use '../basics'as *;
@use '../layout'as *;



.gallery-img-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    column-count: 3;
    column-gap: 0;
    padding: 10px 0;

    .mainHeading {
        margin-top: 150px;
        @extend %absoluteCenter;
    }


    li {
        position: relative;

        .gallery-heading {
            @include text(2.6rem, 400, italic, white);
            @extend %absoluteCenter;
            width: fit-content;
            height: fit-content;
            display: none;
            font-family: $pri-font;
            pointer-events: none;
        }

        img {
            width: 98%;
            height: auto;
            @extend %shaddow;
            margin: 5px 0;
            transition: all .1s cubic-bezier(.17,.67,.83,.67);
    
            &:hover {
                cursor: pointer;
                filter: brightness(60%);
            }

            &:hover + .gallery-heading {
                display: inline;
            }
        }
    }
}

@include media("<=desktop") {
    .gallery-img-wrapper {
        column-count: 2;
    }
}
@include media("<=tablet") {
    .gallery-img-wrapper {
        column-count: 1;
    }
}