@use '../helpers'as *;
@use '../basics'as *;
@use '../layout'as *;

.ga-slide-wrapper{
    .glider-prev{
        font-size:3.5rem;
        color: $camel;
        position: absolute;
        left: 8%;
        right: 0;
        top: 50%;
        bottom: 50%;
        margin: auto 0;
    }
    .glider-next{
        font-size:3.5rem;
        color: $camel;
        position: absolute;
        left: 90%;
        right: 0;
        top: 50%;
        bottom: 50%;
        margin: auto 0;
    }
    .gallery-slide {
        max-width: 80%;
        width: fit-content;
        margin: 0 auto;

        div {
            text-align: center;

            .landscapeImg {
                width: 85% ;
                height: auto;
            }
            .portraitImg {
                height: 800px ;
                width: auto;
                margin: 0 auto;
            }
        }
    } 
}
@include media("<=desktop") {
    .ga-slide-wrapper {
        
        .glider-prev,
        .glider-next {
            display: none;
        }
        .gallery-slide {
            max-width: 95%;
        }
    }
}
@include media("<=tablet") {
    .ga-slide-wrapper .gallery-slide {
        max-width: 100%;
        div .landscapeImg {
            width: 100%;
            
        }
    }
        
}
@include media("<=LGphone") {
    .ga-slide-wrapper .gallery-slide {
        div .portraitImg {
            height: 600px;
        }
    }
}
@include media("<=phone") {
    .ga-slide-wrapper .gallery-slide {
        div .portraitImg {
            height: 500px;
        }
    }
}