@use '../helpers'as *;
@use '../basics'as *;
@use '../layout'as *;

.homeHeroImg {
    width: 100%;
    height: 100vh;
    z-index: 0;
}


.home-wrapper {


    .glider-prev {
        margin-left: -10px;
    }
    .glider-next {
        margin-right: -10px;
    }

    .slider-background {
        width: 100%;
        height: 334px;
        margin: -7px 0px 0px -7px;
        background: $tan;
        background: linear-gradient(45deg, $tan 0%, #CFC49E 48%, #e8dcb5 98%);
        padding: 5px;
        @extend %shaddow;
        position: absolute;
    }


    .singleSlideWrapper {
        position: relative;
        width: 33%;
        height: 330px;

        h3 {
            position: absolute;
            color: rgb(255, 255, 255);
            bottom: 5%;
            left: 5%;
        }

        img {
            width: 99%;
            height: 330px;
        }
    }

    .card-slider {
        padding-left: 35px;

        .product-card {
            width: 85%;
            a {
                width: 100%;
                margin: 0;
            }

        }
    }


    .btnSecBack {
        margin: 50px auto 0px auto;
        width: 200px;
        height: 50px;
    }

    .gallery-grid {
        background: $tan;
        background: linear-gradient(45deg, $tan 0%, #CFC49E 48%, $dutchWhite 98%);
        padding: 10px;

        display: grid;
        grid-template-areas: 
        "big1 big1 small1"
        "big1 big1 small2"
        "small3 small4 small5"
        "small6 big2 big2"
        "small7 big2 big2";
        grid-gap: 10px;

        img {
            width: 100%;
            @extend %shaddow;
        }
        img:first-of-type {
            grid-area: big1;
        }
        img:last-of-type {
            grid-area: big2;
        }
    }

    .phone-gallery-grid {
        background: $tan;
        background: linear-gradient(45deg, $tan 0%, #CFC49E 48%, $dutchWhite 98%);
        padding: 10px;

        img {
            width: 100%;
            @extend %shaddow;
        }
    }

    .about-container {
        background: $tan;
        background: linear-gradient(-10deg, $dutchWhite 0%, $tan 48%, $camel 98%);
        padding: 5px;
        border-radius: 10px;
        @extend %shaddow;
        @include mainFlex(space-around);

        .about-text {
            background-color: $platinum;
            border-radius: 10px 0px 0px 10px;
            width: 59%;
            align-self: stretch;
            text-align: start;

            p {
                margin: 50px 0px 130px 10px;
            }

            .btnSecBack {
                margin: 10px auto 30px auto;
                width: 30%;
                height: 10%;
            }
        }
        img {
            width: 40%;
            border-radius: 0px 10px 10px 0px;
        }
    }
}
@include media("<=tablet") {
    .home-wrapper .about-container {
        .about-text {
            width: 100%;
            border-radius: 10px;

            .btnSecBack {
                width: 50%;
            }
        }
        img {
            display: none;
        }
    }
    .custom-home-wrapper{
        width: 85%;

        .card-slider {
            padding-left: 7%;
        }
    }
    .glider-prev, .glider-next {
        display: none;
    }
     
}

@include media("<=LGphone") {
    .custom-home-wrapper{
       width: 80%;
    }
}

@include media("<=phone") {
    .custom-home-wrapper{
       width: 75%;
    }
}