@use '../helpers' as *;
@use '../basics' as *;
@use '../layout' as *;


.logout-wrapper {
    h1 {
        font-size: 3rem;
    }

    .text-muted {
        font-size: 1.2rem;
        a {
            color: $dutchWhite;
        }
    }
}

@include media("<=desktop") {
   .logout-wrapper h1 {
        font-size: 2rem;
    
   }
}
@include media("<=tablet") {
    .logout-wrapper h1 {
        font-size: 1.5rem;
    }
}