@use '../helpers'as *;
@use '../basics'as *;
@use '../layout'as *;

.order-wrapper {
    width: 60%;
    margin: 0 auto;

    strong {
        color: $coffe;
    }
    p {
        color: black;
    }

    .order-details {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        span {
            border-left: 2px solid $coffe;
            opacity: .6;
            height: 20px;
            margin: 0 30px;
        }
    }

    .order-info {
        border: 2px solid #644936a4;
        @include mainFlex(space-between);
        align-items: flex-start;

        div {
            padding: 10px;
        }
        .refundBtn {
            margin-top: 50px;
        }

        .hidden-divider {
            border-bottom: 1px solid $coffe;
            width: 95%;
            display: none;
        }
    }
}

.order-items-display {
    margin: 50px 0;
    border: 2px solid #644936a4;

    .order-total-items {
        border-bottom: 1px solid $coffe;
        padding: 10px 20px
    }

    .single-order-item {
        @include mainFlex(flex-start);
        width: 90%;
        margin: 10px auto;
        padding-bottom: 10px;
        border-bottom: 1px solid $coffe;

        span:first-of-type img{
            width: 150px;
            aspect-ratio: 1;
        }
        .order-item-details {
            margin: 0 20px;

            a {
                text-decoration: none;
                color: $coffe;
            }
        }
    }
}

.refund-modalBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    @include mainFlex(center);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;

    .refund-modal{
        position: relative;
        width: 35%;
        border-radius: 5px;
        background: $tan;
        background: linear-gradient(45deg, $tan 5%, $camel 70%, $coffe 110%);
        overflow-y:auto;
        max-height: 70%;

        &.product-modal{
            background: $tan;
            background: linear-gradient(45deg, $dutchWhite 5%, $tan 70%, $camel 110%);
        }

        .fa-times {
            position: absolute;
            color: $tan;
            font-size: 1.25vw;
            top: 10px;
            right: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        .refund-alerts {
            margin: 10px 10px 0 10px;
            
            p {
                margin: 0;
            }
        }

        form {
            width: 90%;
            margin: 30px auto 0 auto;

            .myInput.myTextArea{
                color: $coffe;
                font-size: 1.3rem;
                border-radius: 5px;
            }
            .myLabel{
                font-size: 1.2rem;
            }
            .refund-image {
                margin-top: 10px;
            }
            .refund-quantity {
                width: 30px;
                border: 1px solid $coffe;
                border-radius: 5px;
                margin: 5px 0;
            }
        }
    }
}
.modalBgActive {
    visibility: visible;
    opacity: 1;
    z-index: 5;
}



@include media("<=desktop") {
    .order-wrapper {
        width: 95%;
    }
    .refund-modalBg .refund-modal {
        width: 90%;
        .fa-times {
            display: none;
        }
    }
}
@include media("<=tablet") {
    .order-wrapper {
        .order-info {
            flex-direction: column;

            .hidden-divider {
                display: block;
                
            }
        }
    }
}
@include media("<=LGphone") {
    .order-items-display .single-order-item{
        flex-direction: column;
    }
    
}