@use '../helpers'as *;
@use '../basics'as *;
@use '../layout'as *;



.phone-contact-form-wrapper{
  width: 70%;
  border-radius: 10px;
  margin: 80px auto 20px auto;
  padding: 8px;
  background: $tan;
  background: linear-gradient(90deg, #e8dcb5 0%, #CFC49E 48%, $tan 98%);

  .contact-form-back {
      border-radius: 10px;
      padding: 30px;
      background: $platinum;

      h2 {
          width: 120px;
          font-family: $pri-font;
          @include text(1.8rem, 700, none, $coffe)
      }
      .contactInput {
        margin-left: 0px;
      }
  }
}

.phone-contact-info-wrapper {
  background: $tan;
  background: linear-gradient(90deg, #E4E2C8 -20%, $tan 20%, $camel 100%);;
  @extend %columnFlex;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;

  h2 {
      margin: 50px 0 30px 50px;
      font-family: $pri-font;
      @include text(2.2rem, 700, none, white);
  }

  h4 {
      margin: 20px 0 30px 20px;
      width: 70%;
      @include text(1.2rem, 700, none, white);
  }

  .contact-info {
      width: 50%;
      margin: 20px auto;
      @include mainFlex(space-around);
      align-self: flex-start;

      i {
          color: white;
          @include text(1.4rem, 700, none, white);
      }
  }
}

@include media("<=tablet") {
  .phone-contact-form-wrapper, 
  .phone-contact-info-wrapper {
    width: 95%;

  }
}