@use '../helpers' as *;
@use '../basics' as *;
@use '../layout' as *;

.phone-loginContainer {
    margin-top: 20px;
    background: $platinum;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 90%;
    max-height: 1200px;
    height: 900px;


    h1 { 
        margin: 0;
        @include text(2.5rem, 600, none, $coffe);
    }
    h2 {
        margin: 15px 0;
        @include text(2rem, 600, none, $coffe);
    }
    p {
        margin: 10px 20px;
    }
    .phone-form-container {
        background: $dutchWhite;
        left: 0;
        width: 100%;
        position: absolute;
        top: 0;
        height: 50%;
        transition: all 0.6s ease-in;

        .myInput {
            margin-top: 5px;
            height: 25px;
            @include text(1rem, 500, none, $coffe);
        }
        .myLabel {
            margin-top: 5px;
            @include text(1rem, 500, none, $coffe);
        }
        .btnSecBack {
            margin-top: 5px;
        }
    }
    .phone-sign-in-container {
        z-index: 2;
    }
    .phone-sign-up-container {
        z-index: 1;
        opacity: 0;
    }
    /* ANIMATION */

    /*MOVE SIGNIN TO THE TOP */
    &.top-panel-active .phone-sign-in-container {
        transform: translateY(100%);
    }
    /*MOVE OVERLAY TO THE BOTTOM */
    &.top-panel-active .phone-overlay-container {
        transform: translateY(-100%);

    }
    /* SWITCH SIGNUP WITH SIGNIN */
    &.top-panel-active .phone-sign-up-container {
        transform: translatey(100%);
        opacity: 1;
        z-index: 3;
    }
    /* MOVE OVERLAY BACK TO THE TOP */
    &.top-panel-active .phone-overlay {
        transform: translateY(0%);
    }
    &.top-panel-active .overlay-bottom {
        transform: translateY(100%);
    }
    &.top-panel-active .overlay-top {
        transform: translateY(20%);
    }
}

.phone-overlay-container {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
    overflow: hidden;
    transition: transform 0.6s ease-in;
    z-index: 5;
    box-shadow: 5px 0 3px 0px rgba(0, 0, 0, 0.176), -5px 0 3px 0px rgba(0, 0, 0, 0.176);
}

.phone-overlay {
    background: rgb(100,73,54);
    background: linear-gradient(221deg, rgba(100,73,54,1) 0%, rgba(164,131,100,1) 19%, rgba(193,151,112,1) 48%, rgba(213,184,149,1) 74%, rgba(232,220,181,1) 100%);
    position: relative;
    top: -100%;
    height: 200%;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.6s ease-in;
    
    .phone-overlay-panel {   
        position: absolute;
        left: 0;
        @extend %columnFlex;
        height: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(0);
        transition: transform 0.6s ease-in;   
    }
    .overlay-top {
        right: 0;
        transform: translateY(100%);
        h1,p {
            color: $dutchWhite;
        }
        
    }
    .overlay-bottom {
        transform: translateY(-20%);
        button {
            margin-bottom: 10px;
        }

        hr {
            border: 1px solid $coffe;
            width: 90%;
        }
    }
}
