
@mixin mainFlex($space) {
    display: flex;
    justify-content: $space;
    align-items: center;
}

@mixin ruller($color) {
    :hover {
        color: $color;
    }
    ::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $color;
        transform-origin: bottom right;
        transition: transform cubic-bezier(.17,.67,.83,.67) .3s;
        transform: scaleX(0);
    }
    :hover::before{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@mixin text($size, $weight, $style, $color) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}
