@use './mixins' as *;

// COLORS FROM LIGHT TO DARK


$platinum: #E9E9E9;
$dutchWhite: #e8dcb5;
$tan: #D5B895;
$camel: #C19770;
$coffe: #644936;
$darkSlate: #314848;


// FONTS

$pri-font: 'Source Sans Pro', sans-serif;
$sec-font: 'Courgette', cursive;


/* EXTENDS */
%shaddow {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.274);
}

%absoluteCenter {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
}

%columnFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%wrapper {
    background: $tan;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.24);
}

%myBtn {
    @include mainFlex(center);
    @include text(1.3rem, 400, none, $coffe);
    border: none;
    border-radius: 10px;

    // Para ficar como antes trocar estas 3 linhas
    // width: 8rem;
    width: fit-content;
    padding: 0 20px;
    height: 2rem;
    
    font-family: $sec-font;
    cursor: pointer;
    transition: ease-in 0.15s;

    &:hover{
        transform: scale(0.95);
    }

    a {
        text-decoration: none;
    }
}