{% extends 'base.html' %}


{% block title %}
    Password Reset Confirm
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="pass-reset-wrapper">
        <form method="POST">
            {% csrf_token %}
            <h1>Reset Password</h1>
            <div class="form-group">
                <label for="email" class="myLabel">New Password</label>
                {{ form.new_password1 }} 
                <div class="inputRuller"></div>
            </div>

            <div class="form-group">
                <label for="email" class="myLabel">Confirm New Password</label>
                {{ form.new_password2 }} 
                <div class="inputRuller"></div>
            </div>
            <div>
                <ul class="requirementsList"> <h4>Password requirements:</h4>
                    <li>Your password must have a minimum of 8 characters.</li>
                    <li>Your password must contain at least 1 number.</li>
                    <li>Your password must contain at least 1 upper letter.</li>
                    <li>Your password cannot be only numbers.</li>
                    <li>Your password cannot be a common password.</li>
                </ul>
                <ul class="passwordErrorWrapper">
                    {% if form.new_password1.errors %}
                        <h4>Password errors:</h4>
                        {% for error in form.new_password1.errors %}
                        <li class="errorMessage">- {{ error|escape  }}</li>
                        {% endfor %}
                    {% endif %}
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                        <li class="errorMessage">- {{ error|escape  }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            
            <div class="form-group">
                <button type="submit" class="myBtnPri">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}