{% extends 'base.html' %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}
    <div class="main-container">

        <div class="pass-reset-wrapper">
            <form method="POST">
                {% csrf_token %}
    
                <h1>Reset Password</h1>
    
                <div class="form-group">
                    <label for="email" class="myLabel">Email</label>
                    {{ form.email }} 
                    <div class="inputRuller"></div>
                </div>
                <button type="submit" class="myBtnPri">Request</button>
                
            </form>
        </div>
    </div>
{% endblock %}