@use '../helpers' as *;



.myBtnPri {
    @extend %myBtn;
    margin: 10px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.329);
    background: $dutchWhite;
    background: linear-gradient(to right, $camel, $tan);
}
.myBtnSec {
    @extend %myBtn;
    background-color: $platinum;
    width: 98%;
    height: 98%;
}


.btnSecBack {
    background: $coffe;
    background: linear-gradient(to right, $camel, $dutchWhite);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    margin: 10px 0;
    @include mainFlex(center);
    @extend %shaddow;
}