@use '../helpers' as *;


.main-container{
    @extend %columnFlex;
    width: 90%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.user-wrapper {
    @extend %wrapper;
    @extend %columnFlex;
    background: linear-gradient(221deg, rgba(164,131,100,1) 19%, rgba(193,151,112,1) 48%, rgba(213,184,149,1) 74%, #e8dcb5);
}

.pass-reset-wrapper {
    @extend %wrapper;
    background: linear-gradient(221deg, rgba(164,131,100,1) 19%, rgba(193,151,112,1) 48%, rgba(213,184,149,1) 74%);
}

.profile-wrapper {
    @extend %wrapper;
    @extend %columnFlex;
    width: 65%;
    background: none;
    box-shadow: none;
    transition: all ease-in-out 0.3s;

    h2 {
        margin: 25px 0 0 5px;
        align-self: flex-start;
    }
}

.home-wrapper {
    width: 70%;
    margin: 50px auto 0px auto;

    h2 {
        margin-bottom: 20px;
        font-size: 1.8rem;
    }
}

.contact-form-wrapper{
    width: 50%;
    border-radius: 10px;
    margin: 80px auto 0 300px;
    padding: 8px;
    background: $tan;
    background: linear-gradient(90deg, #e8dcb5 0%, #CFC49E 48%, $tan 98%);

    &::before {
        content: "";
        background-color: $platinum;
        width: 20px;
        height: 120px;
        /*MELHORAR*/
        position: absolute;
        bottom: 40%;
        left: 20.5%;
    }

    .contact-form-back {
        border-radius: 10px;
        padding: 30px;
        background: $platinum;

        h2 {
            margin-left: 20px;
            width: 120px;
            font-family: $pri-font;
            @include text(1.8rem, 700, none, $coffe)
        }
    }
}

.contact-info-wrapper {
    background: $tan;
    background: linear-gradient(90deg, #E4E2C8 -20%, $tan 20%, $camel 100%);;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25%;
    height: 650px;
    position: absolute;
    right: 20%;
    top: 28%;
    border-radius: 10px;
    padding: 10px;

    &::before {
        content: "";
        width: 120px;
        height: 140px;
        background-color: $platinum;
        border-radius: 50%;
        position: absolute;
        right: -12%;
        top: 25%;
    }

    &::after {
        content: "";
        width: 120px;
        height: 120px;
        background-color: $platinum;
        border-radius: 50%;
        position: absolute;
        right: -15%;
        bottom: 10%;
    }

    h2 {
        margin: 50px 0 30px 50px;
        font-family: $pri-font;
        @include text(2.2rem, 700, none, white);
    }

    h4 {
        margin: 20px 0 30px 50px;
        width: 70%;
        @include text(1.2rem, 700, none, white);
    }

    .contact-info {
        margin: 20px 0 30px 50px;
        @include mainFlex(space-around);

        i {
            color: white;
            @include text(1.4rem, 700, none, white);
        }
    }
}


.categories-wrapper {
    width: 65%;
    background-color: $dutchWhite;
    opacity: .9;
    border-radius: 5px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    padding-bottom: 50px;

    h1 {
        font-family: $pri-font;
        font-weight: 400;
        margin: 10px 0;
    }
    img {
        width: 80%;
        aspect-ratio: 1 / 1;
        @extend %shaddow;
    }

}


@include media("<=desktop") {
    .pass-reset-wrapper, .user-wrapper {
        width: 90%;

        .form-group {
            width: 100%;
        }
    }
    .pass-reset-wrapper {
        background: none;
        box-shadow: none;
    }
    .profile-wrapper {
        width: 100%;
    }
    .main-container {
        width: 95%;
    }

    .home-wrapper,
    .categories-wrapper  {
        width: 90%;
    }
}
@include media("<=tablet") {
    .categories-wrapper {
        grid-template-columns: 1fr;
    }
}