{% extends 'base.html' %}
{% load static %}

{% block title %}
    404 ERROR
{% endblock %}




{% block content %}
<!-- <div class="mainBox404">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">
        Maybe this page moved? Got deleted?  
        Never existed in the first place?
        <p>
            Let's go <a href="{% url 'store:home' %}">home</a> and try from there.
        </p>
    </div>
</div> -->
<div class="mainBox404">
    <div class="scndBox404">
        <div>
          <div>
            <span>404&nbsp;error</span>
            <span>page&nbsp;not&nbsp;found</span>
          </div>
          <svg viewbox="0 0 200 600">
            <polygon points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514 200 591.044514 200 8"></polygon>
          </svg>
        </div>
        <svg class="crack" viewbox="0 0 200 600">
          <polyline points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514"></polyline>
        </svg>
        <div>
          <svg viewbox="0 0 200 600">
            <polygon points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514 0 591.044514 0 8"></polygon>
          </svg>
          <div>
            <span>sorry&nbsp;about&nbsp;that!</span>
            <span>
              <a class="link404">
                <b>return&nbsp;home?</b>
              </a>
            </span>
          </div>
        </div>
    </div>
</div>

 
{% endblock %}
